.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0;
   padding-left: 0;
   margin-left: 24px;
  }
  .profilemaincontainer{
    width: 100%;
    margin: auto;
  }
  .imgContainer {
    border-radius: 9999px;
    background: conic-gradient(white calc(100% - var(--profile-completed)), #00b007 0%);
    padding: 0.25rem;
}
.innerCircle {
  border-radius: 9999px;
  background-color: white;
  padding: 0.25rem;
}

.profilepicimg {
  border-radius: 9999px;
  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  .editpreview {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    width: 50%; 
    text-align: center; 
    position: relative; 
  }
  
  .active {
    border-bottom: 2px solid ;
    border-color: #F76A7B;
    
  }
  /* More specific CSS to override the existing styles */
.custom-row > * {
  flex-shrink: initial;
  width: auto;
  max-width: none;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
}

.editseditsection{
  font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: center;
color: #515151;

}