.headinglable{
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: center;

}
.detailstext{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.04em;
text-align: center;

}
.lastbox{
    background: linear-gradient(180deg, rgba(227, 193, 255, 0) 0%, rgba(227, 193, 255, 0) 18.86%, #4B164C 94%);

}