.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.pricingCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  position: relative;
  width: 114px;
  height: 127px;
}

.selectedCard {
  transform: scale(1.2);
  z-index: 1;
  
}

.cardBody {
  padding: 8px;
}

.cardBodypopular {
  padding: 10px;
  margin-top: -24px;
}

.cardTitle {
  font-family: Poppins;
  font-size: 9.77px;
  font-weight: 500;
  line-height: 14.66px;
  text-align: center;
}

.cardPrice {
  font-family: Poppins;
  font-size: 16.75px;
  font-weight: 400;
  line-height: 25.13px;
  letter-spacing: 0.04em;
  text-align: left;
}

.cardPrice span {
  font-size: 0.5em;
}

.cardText {
  font-size: 8px;
  color: gray;
}

.mostPopular {
  background: linear-gradient(90deg, #9663BF 0%, #4B164C 100%);
  color: white;
  padding: 5px 10px;
  border-radius: 10px 10px 0 0;
  margin-left: 58px;
  transform: translateX(-50%);
  width: 115px;
  font-size: 12px;
}

.continuebutton {
  width: 251px;
  height: 45px;
  padding: 12px 16px;
  gap: 10px;
  border-radius: 36px;
  border: 0.4px solid;
  border-image-source: linear-gradient(180deg, #FC8C66 -4.17%, #F76A7B 110.42%);
  color: white;
  background: linear-gradient(180deg, #FC8C66 -4.17%, #F76A7B 110.42%);
  font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.dotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.activeDot {
  width: 30px;
  height: 8px;
  background: linear-gradient(180deg, #FC8C66 -4.17%, #F76A7B 110.42%);
  border-radius: 25%;
}
