p {
    margin: 0;
}

.card-container {
    display: flex;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.047);
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    min-height: 100%;
    width: 500px;
    opacity: 0;
    transform: translateX(-100px);
    transition: transform 150ms linear;
}

.card-container.show {
    transform: translateX(0);
    opacity: 1;
}

.card-container>div:not(.menu) {
    margin-top: auto;
    padding: 1.5rem;
    font-weight: 600;
    font-size: large;
    color: white;
}

.options {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}